<body>
  <div class="container">
    <h1 class="container__title">Edit User</h1>
    <div class="container__card">
      <%= form_with url: users_update_path, method: :patch, local: true, class:"container__form", id:"user_form" do %>
        <div class="container__input">
          <input type="hidden" name="id" value="<%=@user.id%>"/>
          <label for="">Name:</label>
          <input name="name" type="text" value="<%=@user.name%> "class="input input--active" placeholder="Type your name here">

          <label for="">Age:</label>
          <input name="age" type="number" value="<%=@user.age%>" class="input input--active" placeholder="Type your age here">

          <label for="">Bio:</label>
          <input name="bio" type="text" value="<%=@user.bio%>" class="input input--active" placeholder="Type your bio here">
        </div>
      <% end %>
    </div>
    <button form="user_form" type ="submit"class="button button--static">Update</td></button>
  </div>
  </div>
</body>
