<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<% @users.each do |user| %>
  <p><%= user.name %></p>
  <p><%= user.bio %></p>
  <p><%= user.age %></p>
  <p><%= user.contacts.count %></p>

<% 
  phones = 0
  user.contacts.each do |contact|
    phones += contact.phones.count 
  end
%>
<p><%= phones%></p>
----------------------------------------------
<% end %>
